@font-face {
  font-family : "headliner";
  src         : url("headliner45.ttf");
}

@font-face {
  font-family : "proxima-nova-soft";
  font-style  : normal;
  font-weight : 800;
  src         : url("https://use.typekit.net/af/d800ad/00000000000000000001743f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&token=mKQxvqIPUiVCjEfAJRf8V8aAXP%2FCdaty%2BVrnaoL9BSt4Jktmh0wAXgiFV1qcma3z89102Mu2Ty4QmWwZXLBzjSrs8kPbcmbdaclxBpvrtSs%3D");
}

@font-face {
  font-family : "KlinicSlab-Bold";
  font-style  : normal;
  font-weight : bold;
  src         : url("KlinicSlab-Bold.woff2");
}

@font-face {
  font-family : "Argent CF";
  font-style  : normal;
  font-weight : bold;
  src         : url("ArgentCF-Bold.woff2");
}

* {
  box-sizing : border-box;
}

body {
  margin      : -16px 0 0 0;
  color       : rgb(200,200,200);
  background  : black;
  font-family : "proxima-nova-soft";
}

br {
  display : block;
  margin-bottom: 10px;
}

#nav-header {
  position      : relative;
  top           : 25px;
  width         : 100%;
  height        : 50px;
  padding-right : 50px;
  text-align    : right;
}

#nav-header a:link {
  color           : rgb(200,200,200);
  outline         : 0;
  text-decoration : none;
  font-weight     : bold;
  transition      : .25s;
}

#nav-header a:visited {
  color : rgb(200,200,200);
}

#nav-header a:hover {
  color       : white;
  text-shadow : 0 0 10px rgba(255,255,255,.5);
}

#nav-header > ul {
  line-height : 50px;
}

#nav-header > ul > li {
  display        : inline-block;
  text-transform : uppercase;
  letter-spacing : 2px;
}

#nav-header > ul > li {
  padding : 0 20px;
}

#nav-header > ul > li:last-child {
  margin-right : 0;
}

#enlist {
  border        : 2px solid rgb(200,200,200);
  border-radius : 25px;
  transition    : .25s;
}

#enlist > a::before {
  content      : "+";
  width        : 10px;
  height       : 10px;
  margin-right : 5px;
  font-size    : 1.3em;
  font-weight  : bold;
  line-height  : 21px;
}

#enlist:hover {
  background-color : rgb(200,200,200);
}

#enlist:hover a {
  color : rgb(60, 60, 60);
}

#title {
  position    : absolute;
  top         : 50%;
  left        : 50%;
  margin      : auto;
  text-align  : center;
  text-shadow : 0 10px 15px rgba(0, 0, 0, 0.5),
                0 5px 5px rgba(0, 0, 0, 0.75),
                0 3px 0 rgba(0, 0, 0, 0.85);
  font-family : "headliner";
  font-size   : 3em;
  transform   : translate(-50%, -50%);
}

#title > h1 {
  height         : 250px;
  margin         : 20px;
  color          : white;
  text-transform : uppercase;
  font-size      : 6em;
}

#title > p {
  margin         : 0;
  color          : white;
  font-size      : 1.2em;
  letter-spacing : 3px;
}

#homescreen {
  width: auto;
  position : relative;
  height   : 1200px;
  margin   : 0;
}

#homescreen::before {
  z-index             : -1;
  content             : "";
  opacity             : .25;
  background          : linear-gradient(
                          315deg,
                          rgba(255,255,255,.5) -15%,
                          transparent 50%,
                          rgba(0,0,0,.2) 80%
                        ),
                        url(
                          "../images/background2.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : top;
  background-size     : cover;
  filter              : contrast(125%) grayscale(85%);
}

#homescreen::after {
  font-family: "headliner";
  line-height: 0px;
  transform: translateX(-50%);
  z-index        : -1;
  content        : "1944";
  position: absolute;
  top: 60%;
  left: 50%;
  opacity        : .2;
  font-size      : 60em;
  letter-spacing : 30px;
}

#firstSlide {
  z-index    : 3;
  position   : relative;
  top        : 0;
  width      : 100%;
  height     : 700px;
  margin-top : 10px;
  background : #0f3d00;
}

#firstSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .8;
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background3.jpg"
                        );
  background-position : left;
  background-repeat: no-repeat;
  background-size: cover;
  filter              : contrast(150%) grayscale(75%);
}

.history {
  z-index     : 1;
  position    : relative;
  font-family : "KlinicSlab-Bold";
  font-size   : 1.1em;
}

.history a:link {
  text-decoration: none;
  border-bottom   : 1px dotted;
  font-size       : 1.1em;
  transition      : .5s;
}

.history a:hover {
  border-bottom : 1px solid;
}

.history a::after {
  content      : url("../images/link.svg");
  display      : inline-block;
  position     : relative;
  left         : 5px;
  width        : 12px;
  height       : 12px;
  margin-right : 5px;
}


.history p {
  color     : white;
  font-size : 1.25em;
  margin-bottom: 20px;
}

.history h2 {
  margin      : 0;
  color       : white;
  font-family : "Argent CF";
  font-size   : 3em;
}

.history h2::after {
  content    : "";
  display    : block;
  width      : 150px;
  height     : 3px;
  margin     : 20px 0 10px;
  background : white;
}

.history > p:first-child {
  z-index        : 3;
  width          : 90%;
  margin         : 0;
  color          : white;
  text-transform : uppercase;
  font-family    : "proxima-nova-soft";
  font-size      : .9em;
  letter-spacing : 3px;
}

#about1 {
  z-index  : 3;
  position : relative;
  top      : 0;
  width    : 50%;
  height   : 700px;
  float    : left;
  padding  : 200px 0 50px 10%;
}

#about1 a:link {
  color           : #72ff44;
}

#about1 a:visited {
  color : #72ff44;
}

#about1 a:hover {
  color         : #a8ff8c;
}

#about1 > p {
  width      : 100%;
  margin     : 35px 0 0;
  text-align : left;
}

#about1 > h2 {
  text-align : left;
}

#about1 > p:nth-child(3)::first-letter {
  float        : left;
  margin       : 0 5px 0 0;
  padding      : 0 0 0 5px;
  border       : 2px solid;
  border-bottom: none;
  border-right: none;
  font-size    : 2em;
}

#about2 {
  z-index          : 5;
  position         : absolute;
  right            : 15%;
  width            : 30%;
  height           : 850px;
  float            : right;
  margin-top       : -100px;
  padding          : 50px 10px;
  border-radius    : 10px;
  background-color : #ffdc19;
  text-align       : center;
}

#about2::before {
  z-index             : -1;
  content             : "";
  opacity             : .6;
  border-radius       : 10px;
  background          : linear-gradient(
                          135deg,
                          rgba(0,0,0,.8) 15%,
                          transparent 50%,
                          rgba(0,0,0,.8) 80%
                        ),
                        url(
                          "../images/background5.jpg"
                        );
  background-position : 80% 40%;
  background-size     : auto;
  filter              : contrast(110%) grayscale(75%);
}

#about2 a:link {
  color : #f7fc2a;
}

#about2 a:visited {
  color: #f7fc2a;
}

#about2 a:hover {
  color: #fffdad;
}

#about2 > p:first-child {
  text-align : right;
}

#about2 h2 {
  font-size : 3em;
}

#about2 > h2::after {
  width  : 150px;
  margin : 20px auto;
}

#about2 > ul {
  z-index         : 5;
  position        : relative;
  width           : 85%;
  margin          : 50px auto;
  color           : white;
  text-align      : left;
  font-family     : "KlinicSlab-Bold";
  font-size       : 1.25em;
  list-style-type : none;
}

#about2 > ul > li {
  margin : 30px 0;
}

.backgroundimg::before {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
}

.triple-header {
  z-index  : 0;
  position : relative;
  top      : 0;
  height   : 200px;
}

.triple-header > h2 {
  z-index        : 1;
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  margin         : 25px auto;
  color          : white;
  text-align     : center;
  text-shadow    : 0 10px 15px rgba(0, 0, 0, 0.5),
                   0 5px 5px rgba(0, 0, 0, 0.75),
                   0 3px 0 rgba(0, 0, 0, 0.85);
  font-family    : "headliner";
  font-size      : 10em;
  line-height    : 200px;
  letter-spacing : 7px;
}

.triple-header::before {
  z-index           : -1;
  content           : "";
  opacity           : .8;
  background-repeat : no-repeat;
  background-size   : auto;
  filter            : contrast(150%) grayscale(75%);
}

.grayscale {
  filter : grayscale(100%);
}

#adapt {
  background-color : darkblue;
}

#adapt h2 {
  width       : 80%;
  margin-left : 10%;
  text-align  : left;
}

#adapt::before {
  background-image    : linear-gradient(
                          90deg,
                          black -20%,
                          transparent,
                          black 120%
                        ),
                        url(
                          "../images/background7.jpg"
                        );
  background-position : 90% 25%;
}

#survive {
  background-color : darkred;
}

#survive h2 {
  padding-right : 15%;
}

#survive::before {
  background-image    : linear-gradient(
                          90deg,
                          black -20%,
                          transparent,
                          black 120%
                        ),
                        url(
                          "../images/background6.jpg"
                        );
  background-position : 80% 33%;
}

#overcome {
  background-color : darkgreen;
}

#overcome h2 {
  margin-left : -10%;
  text-align  : right;
}

#overcome::before {
  background-image    : linear-gradient(
                          90deg,
                          black -20%,
                          transparent,
                          black 120%
                        ),
                        url(
                          "../images/background8.jpg"
                        );
  background-position : 20% 33%;
}

.interval {
  z-index    : 0;
  position   : relative;
  width      : 100%;
  height     : 200px;
  margin     : 10px 0;
}

.interval::before {
  z-index             : -1;
  content             : "";
  opacity             : .8;
  background-size     : cover;
  filter              : contrast(150%) grayscale(75%);
}

#tiger {
  background : darkblue;
}

#tiger::before {
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background7.jpg"
                        );
  background-position : 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

#panther {
  background : green;
}

#panther::before {
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background8.jpg"
                        );
  background-position : 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

#secondSlide {
  z-index    : 0;
  position   : relative;
  width      : 100%;
  height     : 800px;
  background : darkred;
}

#secondSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .7;
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background6.jpg"
                        );
  background-position : left;
  background-repeat: no-repeat;
  background-size: cover;
  filter              : contrast(150%) grayscale(75%);
}

#secondSlide div:first-child {
  position : absolute;
  top      : 33%;
  width    : 70%;
  margin   : 0 0 0 10%;
}

#secondSlide div:first-child > h2 {
  font-size   : 7em;
  line-height : 100px;
}

#secondSlide div:first-child > p:last-child {
  width : 66%;
}

#secondSlide div:first-child > p:nth-child(3)::first-letter {
  float        : left;
  margin       : 0 5px 0 0;
  padding      : 0 0 0 5px;
  border       : 2px solid;
  border-bottom: none;
  border-right: none;
  font-size    : 2em;
}

#secondSlide div:first-child > p > a:link {
  color: #f92a13;
}

#secondSlide div:first-child > p > a:visited {
  color: #f92a13;
}

#secondSlide div:first-child > p > a:hover {
  color: #ffb5ad;
}

#thirdSlide {
  z-index    : 0;
  position   : relative;
  width      : 100%;
  height     : 800px;
  background : darkblue;
}

#thirdSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .7;
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background4.jpg"
                        );
  background-position : 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  filter              : contrast(150%) grayscale(75%);
}
