@font-face {
  font-family : "headliner";
  src         : url("headliner45.ttf");
}

@font-face {
  font-family : "proxima-nova-soft";
  font-style  : normal;
  font-weight : 800;
  src         : url("https://use.typekit.net/af/d800ad/00000000000000000001743f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&token=mKQxvqIPUiVCjEfAJRf8V8aAXP%2FCdaty%2BVrnaoL9BSt4Jktmh0wAXgiFV1qcma3z89102Mu2Ty4QmWwZXLBzjSrs8kPbcmbdaclxBpvrtSs%3D");
}

@font-face {
  font-family : "KlinicSlab-Bold";
  font-style  : normal;
  font-weight : bold;
  src         : url("KlinicSlab-Bold.woff2");
}

@font-face {
  font-family : "Argent CF";
  font-style  : normal;
  font-weight : bold;
  src         : url("ArgentCF-Bold.woff2");
}

* {
  box-sizing : border-box;
  outline    : none;
}

html {
  width  : 100%;
  height : 100%;
}

body {
  position    : absolute;
  top         : -20px;
  right       : 0;
  bottom      : 0;
  left        : 0;
  width       : 100%;
  min-width   : 100%;
  min-height  : 100%;
  color       : rgb(200,200,200);
  overflow-x  : hidden;
  overflow-y  : scroll;
  background  : black;
  font-family : "proxima-nova-soft";
}

a {
   outline: 0;
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius : 10px;
  border-radius         : 10px;
  -webkit-box-shadow    : inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius : 10px;
  border-radius         : 10px;
  background            : rgb(175,175,175);
  -webkit-box-shadow    : inset 0 0 6px rgba(0,0,0,0.75);
}

::-webkit-scrollbar-thumb:window-inactive {
  background : rgb(175,175,175);
}

#loader-wrapper {
  z-index  : 1000;
  position : fixed;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

#loader {
  z-index           : 1001;
  display           : block;
  position          : relative;
  top               : 50%;
  left              : 50%;
  width             : 150px;
  height            : 150px;
  margin            : -75px 0 0 -75px;
  border            : 7px solid transparent;
  border-top-color  : #ff4949;
  border-radius     : 50%;
  -webkit-animation : spin 2s linear infinite;
  animation         : spin 2s linear infinite;
  transition        : .75s;
  /* Chrome, Opera 15+, Safari 5+ */
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content           : "";
  position          : absolute;
  top               : 5px;
  right             : 5px;
  bottom            : 5px;
  left              : 5px;
  border            : 7px solid transparent;
  border-top-color  : gray;
  border-radius     : 50%;
  -webkit-animation : spin 3s linear infinite;
  animation         : spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content           : "";
  position          : absolute;
  top               : 15px;
  right             : 15px;
  bottom            : 15px;
  left              : 15px;
  border            : 7px solid transparent;
  border-top-color  : white;
  border-radius     : 50%;
  -webkit-animation : spin 1.5s linear infinite;
  animation         : spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -ms-transform     : rotate(0deg);
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -ms-transform     : rotate(360deg);
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -ms-transform     : rotate(0deg);
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -ms-transform     : rotate(360deg);
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  z-index           : 1000;
  position          : fixed;
  top               : 0;
  width             : 51%;
  height            : 100%;
  background        : #222222;
  -ms-transform     : translateX(0);
  -webkit-transform : translateX(0);
  transform         : translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left : 0;
}

#loader-wrapper .loader-section.section-right {
  right : 0;
}

/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -ms-transform      : translateX(-100%);
  -webkit-transform  : translateX(-100%);
  transform          : translateX(-100%);
  -webkit-transition : all .5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition         : all .5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -ms-transform      : translateX(100%);
  -webkit-transform  : translateX(100%);
  transform          : translateX(100%);
  -webkit-transition : all .5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition         : all .5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity            : 0;
  -webkit-transition : all 0.3s ease-out;
  transition         : all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility         : hidden;
  -ms-transform      : translateY(-100%);
  -webkit-transform  : translateY(-100%);
  transform          : translateY(-100%);
  -webkit-transition : all 0.3s 1s ease-out;
  transition         : all 0.3s 1s ease-out;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  /* Firefox 16+, IE 10+, Opera */
}

/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display : none;
}

.no-js h1 {
  color : #222222;
}

.pulsate {
  opacity                           : .8;
  -webkit-animation                 : pulse 2s ease-out;
  -webkit-animation-iteration-count : infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity   : .25;
    transform : scale(.95);
  }

  20% {
    opacity   : .8;
    transform : scale(1);
  }

  40% {
    opacity   : .25;
    transform : scale(.95);
  }

  60% {
    opacity   : .8;
    transform : scale(1);
  }

  80% {
    opacity   : .25;
    transform : scale(.95);
  }

  100% {
    opacity   : .25;
    transform : scale(.95);
  }
}

#loadingHint {
  z-index        : 1001;
  position       : absolute;
  top            : 50%;
  width          : 100%;
  color          : rgb(150,150,150);
  text-transform : uppercase;
  font-family    : "headliner";
  font-size      : 2.5em;
  line-height    : 0;
}

#loadingHint p {
  display    : inline-block;
  position   : absolute;
  left       : 50%;
  width      : 0;
  width      : 50px;
  height     : 50px;
  margin     : 0 auto;
  text-align : center;
  transform  : translateX(-50%);
}

#homescreen {
  position : relative;
  width    : auto;
  height   : 1200px;
  margin   : 0;
}

#homescreen::before {
  z-index             : -1;
  content             : "";
  opacity             : .25;
  background          : linear-gradient(
                          315deg,
                          rgba(255,255,255,.5) -15%,
                          transparent 50%,
                          rgba(0,0,0,.2) 80%
                        ),
                        url(
                          "../images/background2.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : top;
  background-size     : cover;
  filter              : contrast(125%) grayscale(85%);
}

#homescreen::after {
  z-index        : -1;
  content        : "1944";
  position       : absolute;
  top            : 5%;
  left           : 50%;
  width          : 1375px;
  height         : 800px;
  opacity        : .1;
  text-align     : center;
  font-family    : "headliner";
  font-size      : 55em;
  line-height    : 800px;
  letter-spacing : 50px;
  transform      : translateX(-50%);
}

#nav-header {
  z-index    : 999;
  display    : inline-block;
  position   : absolute;
  top        : 50px;
  right      : 0;
  height     : 50px;
  text-align : right;
}

.hidden {
  opacity : 0;
}

.top a:link {
  color           : rgb(200,200,200);
  outline         : 0;
  text-decoration : none;
  font-weight     : bold;
  transition      : .25s;
}

.top a:visited {
  color : rgb(200,200,200);
}

.top a:hover {
  color       : white;
  text-shadow : 0 0 10px rgba(255,255,255,.5);
}

#nav-header > ul {
  box-sizing    : content-box;
  height        : 50px;
  margin        : 0;
  padding       : 0;
  padding       : 5px 50px;
  border-radius : 50px 0 0 50px;
  line-height   : 50px;
  transition    : .25s ease-in-out;
}

#nav-header > ul > li {
  display        : inline-block;
  text-transform : uppercase;
  line-height    : 50px;
  letter-spacing : 2px;
}

#nav-header > ul > li {
  padding : 0 20px;
}

#nav-header > ul > li:last-child {
  margin-right : 0;
}

#enlist {
  height        : 50px;
  border        : 2px solid rgb(200,200,200);
  border-radius : 25px;
  transition    : .25s;
}

#enlist:hover {
  background-color : rgb(200,200,200);
}

#enlist:hover a {
  color       : rgb(60, 60, 60);
  text-shadow : none;
}

#enlist a::after {
  content      : "\279C";
  display      : inline-block;
  position     : relative;
  top          : 3px;
  left         : -5px;
  width        : 21px;
  height       : 21px;
  margin-right : 5px;
  opacity      : 0;
  font-size    : 1.5em;
  font-weight  : bold;
  line-height  : 21px;
  transition   : all .25s ease-in-out;
}

#enlist:hover a::after {
  content      : "\279C";
  display      : inline-block;
  position     : relative;
  top          : 3px;
  left         : 5px;
  height       : 21px;
  margin-right : 5px;
  opacity      : 1;
}

#title {
  position    : absolute;
  top         : 45%;
  left        : 50%;
  width       : 100%;
  margin      : auto;
  text-align  : center;
  text-shadow : 0 10px 15px rgba(0, 0, 0, 0.5),
                0 5px 5px rgba(0, 0, 0, 0.75),
                0 3px 0 rgba(0, 0, 0, 0.85);
  font-family : "headliner";
  font-size   : 3em;
  transform   : translate(-50%, -50%);
}

#title > h1 {
  display               : inline-block;
  height                : 300px;
  -webkit-margin-before : 0;
  -webkit-margin-after  : 0;
  color                 : white;
  text-transform        : uppercase;
  font-size             : 6em;
  line-height           : 300px;
  letter-spacing        : 10px;
}

#title > p {
  display               : block;
  position              : relative;
  margin                : 20px;
  -webkit-margin-before : 0;
  -webkit-margin-after  : 0;
  color                 : white;
  font-size             : 1.2em;
  letter-spacing        : 3px;
}

#title > p::before {
  content       : "";
  display       : block;
  width         : 50%;
  height        : 5px;
  margin        : 20px auto 10px;
  border-radius : 5px;
  background    : darkred;
}

#back2top {
  z-index        : 999;
  position       : fixed;
  top            : 30%;
  right          : -200px;
  width          : 100px;
  height         : 50px;
  color          : rgb(200,200,200);
  opacity        : .6;
  border-radius  : 20px 0 0 20px;
  background     : rgba(0,0,0,.8);
  text-transform : uppercase;
  transition     : .5s;
}

#back2top p {
  position    : absolute;
  top         : 50%;
  width       : 100%;
  margin      : 0;
  text-align  : center;
  line-height : 48px;
  transform   : translateY(-50%);
}

#back2top p::before {
  content     : "\21E1";
  position    : relative;
  top         : 5px;
  right       : -5px;
  opacity     : 0;
  text-align  : right;
  font-size   : 2em;
  line-height : 0px;
  transition  : .2s ease-in-out;
}

#back2top p:hover::before {
  content  : "\21E1";
  position : relative;
  top      : 5px;
  right    : 5px;
  opacity  : 1;
}

#back2top:hover {
  color   : white;
  opacity : .9;
}

.move-left {
  transform : translateX(-200px);
}

#firstSlide {
  z-index    : 3;
  position   : relative;
  top        : 0;
  width      : 100%;
  height     : 700px;
  margin-top : 10px;
  background : #0b2b00;
}

#firstSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .85;
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background3.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : left;
  background-size     : cover;
  filter              : contrast(150%) grayscale(75%);
}

.history {
  z-index     : 1;
  position    : relative;
  font-family : "KlinicSlab-Bold";
  font-size   : 1.1em;
}

.container p,
li {
  text-shadow : 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.container h2 {
  text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.75),
                4px 4px 2px rgba(0, 0, 0, 0.5);
}

.container a {
  position : relative;
}

.container a:link {
  text-decoration : none;
  font-size       : 1.1em;
  transition      : .5s;
}

.container a::before {
  content            : "";
  visibility         : hidden;
  position           : absolute;
  bottom             : -3px;
  left               : 0;
  width              : 100%;
  height             : 2px;
  background-color   : unset;
  -webkit-transform  : scaleX(0);
  transform          : scaleX(0);
  -webkit-transition : all 0.3s ease-in-out 0s;
  transition         : all 0.3s ease-in-out 0s;
}

.container a::after {
  content      : "";
  display      : inline-block;
  position     : relative;
  left         : -5px;
  width        : 15px;
  height       : 15px;
  margin-right : 5px;
  opacity      : 0;
  transition   : .25s;
}

.container a:hover {}

.container a:hover:before {
  visibility        : visible;
  -webkit-transform : scaleX(1);
  transform         : scaleX(1);
}

.container a:hover::after {
  content      : url("../images/link.svg");
  display      : inline-block;
  position     : relative;
  left         : 5px;
  width        : 15px;
  height       : 15px;
  margin-right : 5px;
  opacity      : 1;
}

.history > p {
  margin-bottom : 20px;
  color         : white;
  font-size     : 1.25em;
}

.history > h2 {
  margin      : 0;
  color       : white;
  font-family : "Argent CF";
  font-size   : 3em;
}

.history > h2::after {
  content    : "";
  display    : block;
  width      : 150px;
  height     : 3px;
  margin     : 20px 0 10px;
  background : white;
}

.history > p:first-child {
  z-index        : 3;
  width          : 90%;
  margin         : 0;
  color          : white;
  text-transform : uppercase;
  font-family    : "proxima-nova-soft";
  font-size      : .9em;
  letter-spacing : 3px;
}

#about1 {
  z-index   : 3;
  position  : absolute;
  top       : 66%;
  left      : 33%;
  width     : 45%;
  height    : 700px;
  float     : left;
  transform : translate(-50%, -50%);
}

#about1 a:link {
  color : #72ff44;
}

#about1 a:visited {
  color : #72ff44;
}

#about1 a:hover {
  color : #a8ff8c;
}

#about1 a::before {
  background-color : #a8ff8c;
}

#about1 > p {
  width      : 90%;
  margin     : 35px 0 0;
  text-align : left;
}

#about1 > h2 {
  text-align : left;
}

#about1 > p:nth-child(3)::first-letter {
  float         : left;
  margin        : 0 5px 0 0;
  padding       : 0 0 0 5px;
  border        : 2px solid;
  border-right  : none;
  border-bottom : none;
  font-size     : 2em;
}

#about2 {
  z-index          : 5;
  position         : absolute;
  right            : 10%;
  width            : 35%;
  height           : 825px;
  float            : right;
  margin-top       : -100px;
  padding          : 50px 10px 20px;
  border-radius    : 20px;
  background-color : #3d3900;
  text-align       : center;
}

#about2::before {
  z-index             : -1;
  content             : "";
  opacity             : .85;
  border-radius       : 20px;
  background          : linear-gradient(
                          135deg,
                          rgba(0,0,0,.8) 15%,
                          transparent 50%,
                          rgba(0,0,0,.8) 80%
                        ),
                        url(
                          "../images/background5.jpg"
                        );
  background-position : 75% 0%;
  background-size     : auto;
  filter              : contrast(110%) grayscale(75%);
}

#about2 a:link {
  color : #f7fc2a;
}

#about2 a:visited {
  color : #f7fc2a;
}

#about2 a:hover {
  color : #fffdad;
}

#about2 a::before {
  background-color : #fffdad;
}

#about2 > p:first-child {
  text-align : right;
}

#about2 * {
  width : 90%;
}

#about2 h2 {
  margin    : 0 auto;
  font-size : 2.3em;
}

#about2 > h2::after {
  width  : 150px;
  margin : 20px auto;
}

#about2 > ul {
  z-index         : 5;
  position        : relative;
  width           : 90%;
  margin          : 50px auto 0;
  padding         : 0;
  color           : white;
  text-align      : left;
  font-family     : "KlinicSlab-Bold";
  font-size       : 1.25em;
  list-style-type : none;
}

#about2 > ul > li {
  margin : 40px auto;
}

#about2 > ul > li:before {
  content      : "\25E2";
  margin-right : 5px;
}

.backgroundimg::before {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
}

.grayscale {
  filter : grayscale(100%);
}

.interval {
  z-index  : 0;
  position : relative;
  width    : 100%;
  height   : 300px;
  margin   : 10px 0;
}

.interval::before {
  z-index         : -1;
  content         : "";
  opacity         : .7;
  background-size : cover;
  filter          : contrast(150%) grayscale(85%);
}

#tiger {
  background : black;
}

#tiger::before {
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background7.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : 50% 25%;
  background-size     : cover;
}

#panther {
  background : black;
}

#panther::before {
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background8.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : 50% 30%;
  background-size     : cover;
}

#secondSlide {
  z-index    : 0;
  position   : relative;
  width      : 100%;
  height     : 800px;
  background : #4c0000;
}

#secondSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .85;
  background          : linear-gradient(
                          300deg,
                          transparent 30%,
                          rgba(0,0,0,.5) 90%
                        ),
                        url(
                          "../images/background6.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : left;
  background-size     : cover;
  filter              : contrast(150%) grayscale(85%);
}

#secondSlide div:first-child {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 80%;
  transform : translate(-50%, -50%);
}

#secondSlide div:first-child > h2 {
  font-size   : 7em;
  line-height : 100px;
}

#secondSlide div:first-child > p:nth-child(n+3) {
  width : 70%;
}

#secondSlide div:first-child > p:last-child {
  width : 65%;
}

#secondSlide div:first-child > p:nth-child(3)::first-letter {
  float         : left;
  margin        : 0 5px 0 0;
  padding       : 0 0 0 5px;
  border        : 2px solid;
  border-right  : none;
  border-bottom : none;
  font-size     : 2em;
}

#secondSlide div:first-child > p > a:link {
  color : #f92a13;
}

#secondSlide div:first-child > p > a:visited {
  color : #f92a13;
}

#secondSlide div:first-child > p > a:hover {
  color : #ffb5ad;
}

#secondSlide div:first-child > p > a::before {
  background-color : #ffb5ad;
}

#thirdSlide {
  z-index    : 0;
  position   : relative;
  width      : 100%;
  height     : 1200px;
  background : #0a2d5a;
}

#thirdSlide::before {
  z-index             : -1;
  content             : "";
  opacity             : .85;
  background          : linear-gradient(
                          300deg,
                          rgba(0,0,0,.8) -10%,
                          transparent 50%,
                          rgba(0,0,0,.66) 110%
                        ),
                        url(
                          "../images/background4.jpg"
                        );
  background-repeat   : no-repeat;
  background-position : 50% 10%;
  background-size     : cover;
  filter              : contrast(150%) grayscale(85%);
}

#thirdSlide div:first-child {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 80%;
  transform : translate(-50%, -50%);
}

#thirdSlide div:first-child > h2 {
  font-size   : 6em;
  line-height : 100px;
}

#thirdSlide div:first-child > p:not(first-child) {
  width : 70%;
}

#thirdSlide div:first-child > p:last-of-type {
  width : 60%;
}

#thirdSlide div:first-child > p:nth-child(3)::first-letter {
  float         : left;
  margin        : 0 5px 0 0;
  padding       : 0 0 0 5px;
  border        : 2px solid;
  border-right  : none;
  border-bottom : none;
  font-size     : 2em;
}

#thirdSlide div:first-child a:link {
  color : #0f69ff;
}

#thirdSlide div:first-child a:visited {
  color : #0f69ff;
}

#thirdSlide div:first-child a:hover {
  color : #bfd7ff;
}

#thirdSlide div:first-child a::before {
  background-color : #bfd7ff;
}

#thirdSlide ul {
  margin-top : 50px;
}

#thirdSlide li {
  width       : 75%;
  margin      : 20px 0 0 100px;
  color       : white;
  text-align  : left;
  font-family : "KlinicSlab-Bold";
  font-size   : 1.25em;
  list-style  : circle;
}

#thirdSlide li:last-child {
  margin-top  : 50px;
  line-height : 86px;
  list-style  : disc;
}

#thirdSlide button {
  display          : inline;
  position         : relative;
  left             : 20%;
  padding          : 10px 30px;
  color            : white;
  border           : 3px solid rgb(200,200,200);
  border-radius    : 50px;
  background-color : transparent;
  text-align       : center;
  text-transform   : uppercase;
  font-family      : "proxima-nova-soft";
  font-size        : 1.1em;
  line-height      : 54px;
  transform        : translateX(-50%);
  transition       : .25s;
}

#thirdSlide button::after {
  content      : "\279C";
  display      : inline-block;
  position     : relative;
  top          : 4px;
  left         : -5px;
  margin-right : 10px;
  opacity      : 0;
  font-size    : 1.5em;
  font-weight  : bold;
  transition   : all .25s ease-in-out;
}

#thirdSlide button:hover {
  color            : #081427;
  background-color : rgb(200,200,200);
}

#thirdSlide button:hover::after {
  content  : "\279C";
  display  : inline-block;
  position : relative;
  top      : 4px;
  left     : 10px;
  opacity  : 1;
}

@media screen
       and (max-width : 1850px) {
  #about2 {
    right : 5%;
    width : 650px;
  }
}

@media screen
       and (max-width : 1700px) {
 #title > p::before {
       width: 60%;
 }

  #about1 {
    width : 900px;
  }

  #about2 {
    right         : 0;
    border-radius : 20px 0 0 20px;
  }

  #about2::before {
    border-radius : 20px 0 0 20px;
  }

  #secondSlide div:first-child {
    width : 1350px;
  }

  #thirdSlide div:first-child {
    left  : 55%;
    width : 90%;
  }
}

@media screen
       and (max-width : 1525px) {
  .interval {
    height : 200px;
  }

  #about1 {
    left  : 30%;
    width : 50%;
    float : none;
  }

  #about1 h2 {
    font-size : 2.75em;
  }

  #about2 {
    height           : auto;
    float            : none;
    margin-top       : 0;
    border-left      : 1px dashed rgba(255,255,255, .1);
    border-radius    : 0;
    background-color : transparent;
  }

  #about2 > ul > li {
    margin : 20px 0 0 0;
  }

  #about2::before {
    content : none;
  }

  #about2 a:link {
    color : #72ff44;
  }

  #about2 a:visited {
    color : #72ff44;
  }

  #about2 a:hover {
    color : #a8ff8c;
  }

  #about2 a::before {
    background-color : #a8ff8c;
  }

  #thirdSlide div:first-child {
    left : 50%;
  }
}

@media screen
       and (max-width : 1450px) {

  #title > p::before {
        width: 55%;
        margin: 0 auto 5px;
  }

  #title > h1 {
    height: 285px;
  }

  #firstSlide {
    height : 1000px;
  }

  #about1 {
    position : relative;
    top      : 45%;
    left     : 50%;
    width    : 80%;
  }

  #about2 {
    position   : absolute;
    top        : 47%;
    left       : 10%;
    width      : 90%;
    padding    : 0;
    border     : none;
    text-align : left;
  }

  #about2 > h2,
  #about2 > ul {
    margin : 0;
  }

  #about2 > h2::after {
    margin : 20px 0 0;
  }

  #about2 > p:first-child {
    text-align : left;
  }

  #homescreen {
    height    : 900px;
    margin    : 0 0 -25px 0;
    font-size : .8em;
  }

  #nav-header {
    font-size : 1rem;
  }

  #homescreen::after {
    top   : 0;
    width : 1125px;
  }

  #title {
    top : 45%;
  }

  #secondSlide {
    height : 600px;
  }

  #secondSlide div:first-child {
    left      : 55%;
    width     : 90%;
    margin    : auto;
    font-size : .9em;
  }

  #thirdSlide {
    height : 1000px;
  }

  #thirdSlide div:first-child {
    left      : 55%;
    width     : 90%;
    margin    : auto;
    font-size : .9em;
  }
}

@media screen
       and (max-width : 1350px) {
  #secondSlide div:first-child > h2,
  #thirdSlide div:first-child > h2 {
    font-size : 5em;
  }
}

@media screen
       and (max-width : 1250px) {
  #homescreen {
    font-size : .6em;
  }

  #title > h1 {
    height: 250px;
  }

  #nav-header {
    width      : 100%;
    text-align : center;
    font-size  : .8rem;
  }

  #nav-header ul {
    padding : 5px 10px;
  }

  #homescreen::after {
    width : 880px;
  }

  #about1 {
    top : 40%;
  }

  #firstSlide,
  #thirdSlide {
    height : 1100px;
  }
}

@media screen
       and (max-width : 1024px) {
  #thirdSlide li:last-child {
    margin-top : 0;
  }

  #thirdSlide button {
    left : 33%;
  }
}

@media screen
       and (min-width : 1921px) {
  #about1 {
    width : 915px;
  }

  #about2 {
    right : 15%;
    width : 700px;
  }

  #secondSlide div:first-child {
    width : 1530px;
  }
}

@media screen
       and (min-width : 2500px) {
  #about1 {
    left : 35%;
  }

  #about2 {
    right : 20%;
  }

  #thirdSlide div:first-child {
    left : 60%;
  }

  #nav-header {
    right : 15%;
  }
}

@media (min-width: 1921px)
       and (max-width : 2150px) {
  #about1 {
    width : 45%;
  }

  #about2 {
    right : 12.5%;
  }
}
